.about-us {
  position: relative;
  min-height: 320px;
  padding-top: 28px;
  padding-right: 145px;
  padding-bottom: 100px;
  padding-left: 318px;

  &::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 108px;
    width: 220px;
    height: 317px;
    background-image: url("../img/bg-about-us-2005-desktop.png");
    background-repeat: no-repeat;
    background-size: auto;
  }
}

.about-us__header {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  margin-bottom: 21px;
}

.about-us__text {
  line-height: 22px;
  margin: 0;
  margin-bottom: 21px;

  &:last-of-type {
    margin-bottom: 38px;
  }
}

.about-us__responsive-text--tablet {
  display: none;
}

.about-us__button {
  width: 180px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 13px;
  letter-spacing: 0.7px;
  color: $baby-blue;
  border-color: $baby-blue;
}

@media (max-width: $tablet-width) {
  .about-us {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 73px;
    padding-left: 213px;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      width: 251.08px;
      height: 361.79px;
      background-image: url("../img/bg-about-us-2005-tablet.png");
      background-repeat: no-repeat;
      background-size: auto;
    }
  }

  .about-us__header {
    font-size: 32px;
    margin-bottom: 22px;
  }

  .about-us__text {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 41px;
    }
  }

  .about-us__responsive-text--desktop {
    display: none;
  }

  .about-us__responsive-text--tablet {
    display: inline;
  }
}

@media (max-width: $mobile-width) {
  .about-us {
    padding-top: 22px;
    padding-right: 11px;
    padding-bottom: 55px;
    padding-left: 17px;

    &::before {
      content: none;
    }
  }

  .about-us__header {
    font-size: 28px;
    margin-bottom: 14px;
  }

  .about-us__text {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 28px;
    }
  }
}
