
@media (max-width: $mobile-width) {
  .accordion__toggle {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='2' viewBox='0 0 16 2' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 .5h16v1h-16z' fill='%23c4c4c4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    &--inactive {
      background-image: url("data:image/svg+xml,%3Csvg fill='none' height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='m8.5 7.5v-7.5h-1v7.5h-7.5v1h7.5v7.5h1v-7.5h7.5v-1z' fill='%23c4c4c4' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  .accordion__pane--hidden {
    display: none;
  }
}
