.ask-us {
  background-color: $baby-blue;
  background-image:
    url("../img/bg-ask-us-airplane-desktop@1x.png"),
    url("data:image/svg+xml,%3Csvg fill='none' height='765' viewBox='0 0 1745 765' width='1745' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m626.842 159.584-274.675 475.75-274.6747-475.75z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m347.148 357.75-160.648 278.25-160.6477-278.25z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m1821.26 509.5-278.25 160.648v-321.296z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m1468.91 255.136 174.34-100.656v201.313z' opacity='.2' stroke='%23fff'/%3E%3Cg fill='%23fff'%3E%3Ccircle cx='77' cy='159' r='5'/%3E%3Ccircle cx='26' cy='358' r='5'/%3E%3Ccircle cx='187' cy='636' r='5'/%3E%3Ccircle cx='352' cy='635' r='5'/%3E%3Ccircle cx='627' cy='159' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(46% - 298px) 161px, calc(40% + 104px) -60px;
  background-size: auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/bg-ask-us-airplane-desktop@2x.png"),
      url("data:image/svg+xml,%3Csvg fill='none' height='765' viewBox='0 0 1745 765' width='1745' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m626.842 159.584-274.675 475.75-274.6747-475.75z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m347.148 357.75-160.648 278.25-160.6477-278.25z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m1821.26 509.5-278.25 160.648v-321.296z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m1468.91 255.136 174.34-100.656v201.313z' opacity='.2' stroke='%23fff'/%3E%3Cg fill='%23fff'%3E%3Ccircle cx='77' cy='159' r='5'/%3E%3Ccircle cx='26' cy='358' r='5'/%3E%3Ccircle cx='187' cy='636' r='5'/%3E%3Ccircle cx='352' cy='635' r='5'/%3E%3Ccircle cx='627' cy='159' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(46% - 298px) 161px, calc(40% + 104px) -60px;
    background-size: 511px 288px, auto;
  }
}

.ask-us__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.ask-us__form {
  width: 51%;
  min-width: 575px;
  padding-top: 92px;
  padding-right: 123px;
  padding-bottom: 103px;
  padding-left: 12px;

  .form__header {
    margin-bottom: 12px;
    margin-left: 14px;
  }

  .form__header-desc {
    margin-bottom: 53px;
    margin-left: 14px;
    padding-left: 4px;
  }

  .form__fields-wrapper {
    padding-left: 3px;
  }

  .form__input-wrapper {
    flex-grow: 1;
    width: 175px;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;

    &--textarea {
      width: 100%;
      margin-bottom: 36px;
    }
  }

  .form__input {
    width: 100%;
    padding-top: 13px;
    padding-right: 16px;
    padding-bottom: 17px;
    padding-left: 16px;

    &--textarea {
      height: 154px;
      resize: none;
    }
  }

  .form__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    padding-right: 19px;
    padding-bottom: 10px;
    padding-left: 18px;
  }

  .form__submit {
    align-self: start;
    width: 47.7%;
    padding-top: 13px;
    padding-bottom: 14px;
    letter-spacing: 0.7px;
    color: $white;
    border: 1px solid $white;
    background-color: $baby-blue;
  }

  .form__checkbox {
    line-height: 16px;
    width: 45.6%;
    padding-top: 8px;
  }
}

@media (max-width: $tablet-width) {
  .ask-us {
    background-image: none;
  }

  .ask-us__form {
    width: 100%;
    padding-top: 77px;
    padding-right: 70px;
    padding-bottom: 94px;
    padding-left: 74px;

    .form__header {
      font-size: 32px;
      margin-bottom: 16px;
    }

    .form__header-desc {
      margin-bottom: 56px;
      padding-left: 5px;
    }

    .form__fields-wrapper {
      padding-left: 2px;
    }

    .form__input-wrapper {
      width: 270px;
      margin-right: 15px;
      margin-bottom: 41px;
      margin-left: 16px;
    }

    .form__input--textarea {
      height: 159px;
    }
  }
}

@media (max-width: $mobile-width) {
  .ask-us__wrapper {
    flex-direction: column;
    padding: 0;
  }

  .ask-us__form {
    min-width: 320px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;

    .form__header {
      font-size: 28px;
      line-height: 39px;
      margin-bottom: 13px;
      margin-left: 0;
    }

    .form__header-desc {
      line-height: 22px;
      margin-bottom: 26px;
      margin-left: 0;
      padding-left: 0;
    }

    .form__fields-wrapper {
      flex-direction: column;
      padding-left: 0;
    }

    .form__input-wrapper {
      width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
      margin-left: 0;

      &--textarea {
        margin-bottom: 26px;
      }
    }

    .form__input--textarea {
      height: 104px;
    }

    .form__buttons-wrapper {
      flex-direction: column;
      padding: 0;
    }

    .form__submit {
      width: 100%;
      margin-bottom: 22px;
      padding-top: 14px;
      padding-bottom: 15px;
    }

    .form__checkbox {
      width: 100%;
      margin-bottom: 22px;
    }
  }
}
