.contacts__heading-block {
  margin-bottom: 25px;
}

.contacts__header {
  font-family: $roboto-condensed;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  width: 333px;
  margin: 0;
  letter-spacing: 0.78px;
  text-transform: uppercase;
  color: $dark-grey;
  padding-left: 2.4px;
}

.contacts__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.contacts__item {
  list-style: none;
  font-size: 15px;
  font-style: normal;
  line-height: 25px;
  opacity: 0.5;
  color: $dark-grey;
}

.contacts__link {
  color: inherit;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__toggle {
  display: none;
}

@media (max-width: $tablet-width) {
  .contacts__header {
    letter-spacing: 0.74px;
    padding-left: 2.1px;
  }
}

@media (max-width: $mobile-width) {
  .contacts__heading-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-right: 13px;
    padding-bottom: 23px;
    padding-left: 15px;
    margin: 0;
    width: 100%;
    border-top: 1px solid rgba($color: #626962, $alpha: 0.2);
  }

  .contacts__header {
    width: auto;
    padding-left: 0;
  }

  .contacts__list {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 26px;
    padding-left: 15px;
  }
}
