.copyright {
  border-top: 1px solid rgba($color: #626962, $alpha: 0.2);
}

.copyright__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  padding-top: 14px;
  padding-right: 19px;
  padding-bottom: 14px;
  padding-left: 16px;
  list-style: none;
}

.copyright__item {
  &--secure {
    flex-grow: 2;
  }

  &--service {
    flex-grow: 3.9;
  }

  &--confidence {
    flex-grow: 11;
  }
}

.copyright__text {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.5;
  color: $dark-grey;

  &[href]:hover,
  &:focus {
    opacity: 0.7;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &:not([href]) {
    cursor: default;
  }
}

@media (max-width: $tablet-width) {
  .copyright__list {
    padding-top: 21px;
    padding-right: 26px;
    padding-bottom: 24px;
    padding-left: 27px;
  }

  .copyright__item--service,
  .copyright__item--secure {
    display: none;
  }

  .copyright__item--confidence {
    width: auto;
  }
}

@media (max-width: $mobile-width) {
  .copyright__list {
    align-items: center;
    flex-direction: column;
    padding-top: 17px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 27px;
  }

  .copyright__text {
    line-height: 45px;
  }
}
