.copyright {
  border-top: 1px solid rgba($color: #626962, $alpha: 0.2);
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-right: 19px;
  padding-bottom: 14px;
  padding-left: 16px;
}

.copyright__text {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.5;
  color: $dark-grey;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &--service {
    width: 21.3%;
  }

  &--confidence {
    width: 38.7%;
  }
}

@media (max-width: $tablet-width) {
  .copyright__wrapper {
    padding-top: 21px;
    padding-right: 26px;
    padding-bottom: 24px;
    padding-left: 27px;
  }

  .copyright__text--service,
  .copyright__text--secure {
    display: none;
  }

  .copyright__text--confidence {
    width: auto;
  }
}

@media (max-width: $mobile-width) {
  .copyright__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 17px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 27px;
  }

  .copyright__text {
    line-height: 45px;
  }
}
