.intro {
  background-color: $dark-grey;
  background-image:
    url("../img/bg-header-board-desktop@1x.png"),
    url("data:image/svg+xml,%3Csvg fill='none' height='641' viewBox='0 0 671 641' width='671' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m626.842 159.584-274.675 475.75-274.6747-475.75z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m347.148 357.75-160.648 278.25-160.6477-278.25z' opacity='.2' stroke='%23fff'/%3E%3Cg fill='%23fff'%3E%3Ccircle cx='77' cy='159' r='5'/%3E%3Ccircle cx='26' cy='358' r='5'/%3E%3Ccircle cx='187' cy='636' r='5'/%3E%3Ccircle cx='352' cy='635' r='5'/%3E%3Ccircle cx='627' cy='159' r='5'/%3E%3C/g%3E%3C/svg%3E"),
    url("../img/bg-header-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 431px) 258px, calc(50% + 406px) 118px, center top;
  background-size: auto, 671px 641px, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/bg-header-board-desktop@2x.png"),
      url("data:image/svg+xml,%3Csvg fill='none' height='641' viewBox='0 0 671 641' width='671' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m626.842 159.584-274.675 475.75-274.6747-475.75z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m347.148 357.75-160.648 278.25-160.6477-278.25z' opacity='.2' stroke='%23fff'/%3E%3Cg fill='%23fff'%3E%3Ccircle cx='77' cy='159' r='5'/%3E%3Ccircle cx='26' cy='358' r='5'/%3E%3Ccircle cx='187' cy='636' r='5'/%3E%3Ccircle cx='352' cy='635' r='5'/%3E%3Ccircle cx='627' cy='159' r='5'/%3E%3C/g%3E%3C/svg%3E"),
      url("../img/bg-header-desktop@2x.png");
    background-position: calc(50% + 431px) 258px, calc(50% + 406px) 118px, center top;
    background-size: 705px 515px, 671px 641px, cover;
  }
}

.intro__wrapper {
  position: relative;
  padding-top: 323px;
  padding-bottom: 265px;
  padding-left: 12px;
  color: $white;
}

.intro__header {
  font-family: $roboto-condensed;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  width: 720px;
  margin: 0;
  margin-bottom: 34px;
  letter-spacing: 5.6px;
  text-transform: uppercase;
}

.intro__desc {
  font-size: 22px;
  line-height: 34px;
  position: relative;
  width: 725px;
  max-width: 61%;
  margin-bottom: 43px;
  padding-left: 98px;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 4px;
    width: 66px;
    height: 2px;
    background-color: $white;
  }
}

.intro__button {
  font-size: 16px;
  width: 407px;
  margin-bottom: 10px;
  margin-left: 98px;
  padding: 18px 0 17px 0;
  letter-spacing: 0.8px;
  background-color: $baby-blue;
}

.intro__button-text--mobile {
  display: none;
}

.intro__scroll-button {
  font-size: 14px;
  position: absolute;
  bottom: 126px;
  left: -22px;
  display: block;
  transform: rotate(-90deg);
  opacity: 0.5;
  color: $white;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .intro {
    background-image:
      url("../img/bg-header-board-tablet@1x.png"),
      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 529 441' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m494.16 60.956-216.43 374.87-216.43-374.87 432.86-1e-4z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m273.58 217.23-126.51 219.12-126.51-219.12h253.01z' opacity='.2' stroke='%23fff'/%3E%3Ccircle cx='60.724' cy='60.39' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='20.504' cy='217.32' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='147.47' cy='436.56' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='277.59' cy='435.77' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='494.46' cy='60.39' r='3.9431' fill='%23fff'/%3E%3C/svg%3E%0A"),
      url("../img/bg-header-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: calc(30% + 418px) 113px, calc(30% + 368px) 26px, center top;
    background-size: auto, 529px 441px, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      min-height: 686px;
      background-image:
        url("../img/bg-header-board-tablet@2x.png"),
        url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 529 441' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m494.16 60.956-216.43 374.87-216.43-374.87 432.86-1e-4z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m273.58 217.23-126.51 219.12-126.51-219.12h253.01z' opacity='.2' stroke='%23fff'/%3E%3Ccircle cx='60.724' cy='60.39' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='20.504' cy='217.32' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='147.47' cy='436.56' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='277.59' cy='435.77' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='494.46' cy='60.39' r='3.9431' fill='%23fff'/%3E%3C/svg%3E%0A"),
        url("../img/bg-header-tablet@2x.png");
      background-position: calc(30% + 418px) 113px, calc(30% + 368px) 26px, center top;
      background-size: 465px 340px, 529px 441px, cover;
    }
  }

  .intro__wrapper {
    padding-top: 189px;
    padding-bottom: 153px;
    padding-left: 88px;
  }

  .intro__header {
    font-size: 60px;
    line-height: 70px;
    width: 400px;
    margin: 0;
    margin-bottom: 29px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
  }

  .intro__desc {
    font-size: 18px;
    line-height: 28px;
    width: 390px;
    max-width: unset;
    margin-bottom: 54px;
    padding-left: 51px;

    &::before {
      top: 15px;
      left: 3px;
      width: 33px;
      height: 2px;
    }
  }

  .intro__button {
    width: 379px;
    margin-left: 51px;
  }

  .intro__scroll-button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .intro {
    min-height: 647px;
    background-image:
      url("../img/bg-header-board-mobile@1x.png"),
      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 506 430' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m472.04 67.352-206.72 358.06-206.72-358.06h413.45z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m261.32 216.65-120.82 209.26-120.82-209.26h241.63z' opacity='.2' stroke='%23fff'/%3E%3Ccircle cx='58.011' cy='66.789' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='19.589' cy='216.71' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='140.88' cy='426.16' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='265.19' cy='425.4' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='472.37' cy='66.789' r='3.7669' fill='%23fff'/%3E%3C/svg%3E%0A"),
      url("../img/bg-header-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: calc(90% + 9px) 92px, calc(55% + 254px) 7px, center top;
    background-size: auto, 506px 430px, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/bg-header-board-mobile@2x.png"),
        url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 506 430' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m472.04 67.352-206.72 358.06-206.72-358.06h413.45z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m261.32 216.65-120.82 209.26-120.82-209.26h241.63z' opacity='.2' stroke='%23fff'/%3E%3Ccircle cx='58.011' cy='66.789' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='19.589' cy='216.71' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='140.88' cy='426.16' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='265.19' cy='425.4' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='472.37' cy='66.789' r='3.7669' fill='%23fff'/%3E%3C/svg%3E%0A"),
        url("../img/bg-header-mobile@2x.png");
      background-position: calc(90% + 9px) 92px, calc(55% + 254px) 7px, center top;
      background-size: 301px 220px, 506px 430px, cover;
    }
  }

  .intro__wrapper {
    padding-top: 287px;
    padding-right: 10px;
    padding-bottom: 70px;
    padding-left: 15px;
  }

  .intro__header {
    font-size: 40px;
    line-height: 47px;
    width: 100%;
    margin: 0 auto 26px auto;
    letter-spacing: 2.8px;
    text-transform: uppercase;
  }

  .intro__desc {
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    margin-bottom: 40px;
  }

  .intro__button {
    width: 287px;
    margin: 0 auto;
  }

  .intro__button-text--desktop {
    display: none;
  }

  .intro__button-text--mobile {
    display: inline;
  }
}
