.logo {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 201px;
  height: 52px;
  color: $logo-grey;

  &:hover {
    cursor: pointer;
  }
}

.logo__text-header {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 12px 0 0 0;
  margin: 0;
}

.logo__text-slogan {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 4px 0 0 0;
  margin: 0;
  color: $light-grey;
}

@media (max-width: $mobile-width) {
  .logo__image--header {
    width: 38px;
    height: 38px;
  }

  .logo__text--header {
    display: none;
  }
}
