.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.modal__form {
  position: relative;
  width: 490px;
  padding-top: 25px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  background-color: $baby-blue;

  .form__header {
    font-size: 28px;
    margin-bottom: 6px;
  }

  .form__header-desc {
    line-height: 22px;
    width: 370px;
    margin-bottom: 32px;
  }

  .form__fields-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form__input {
    margin-bottom: 30px;
    padding-top: 14px;
    padding-right: 23px;
    padding-bottom: 18px;
    padding-left: 23px;

    &--textarea {
      height: 104px;
      padding-top: 13px;
      resize: none;
    }
  }

  .form__submit {
    width: 100%;
    margin-bottom: 32px;
    padding-top: 14px;
    padding-bottom: 15px;
    letter-spacing: 0.7px;
    color: $white;
    border: 1px solid $white;
    background-color: $baby-blue;
  }

  .form__checkbox {
    display: block;
    width: 360px;
    margin-bottom: 15px;
    padding-left: 48px;
  }

  input[type="checkbox"] + .form__checkbox-cover {
    top: 3px;
  }
}

.modal__close {
  font-size: 0;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: $baby-blue;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 24px;
    width: 1px;
    height: 23px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.modal--show {
  display: flex;
  animation: fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
