.nav__sub {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .nav__item {
    margin-right: 15px;
  }
}

.nav__header {
  font-family: $roboto-condensed;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  margin-bottom: 25px;
  padding-left: 2px;
  letter-spacing: 0.76px;
  text-transform: uppercase;
  color: $dark-grey;
}

.nav__item {
  min-width: 235px;
  list-style: none;

  &--about {
    order: 1;
  }

  &--components {
    order: 2;
  }

  &--products {
    order: 3;
  }

  &--delivery {
    order: 4;
  }

  &--production {
    order: 5;
  }

  &--contacts {
    order: 6;
  }

  &--installation {
    order: 7;
  }
}

.nav__link {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  color: $dark-grey;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .nav__item {
    order: initial;
  }
}

@media (max-width: $mobile-width) {
  .nav {
    padding: 0;
  }

  .nav__sub {
    display: none;
    padding-left: 30px;
    padding-right: 30px;

    .nav__item {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .nav__item:last-of-type {
      margin-bottom: 20px;
    }
  }

  .nav__input:checked ~ .nav__sub {
    display: block;
  }

  .nav__header {
    display: block;
    padding-top: 29px;
    padding-right: 40px;
    padding-bottom: 27px;
    padding-left: 15px;
    margin: 0;
  }

  .nav__label {
    position: relative;
    display: block;

    &::before {
      content: "";
      position: absolute;
      top: 36px;
      right: 17px;
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
    }

    &::after {
      content: "";
      position: absolute;
      top: 29px;
      right: 24px;
      width: 1px;
      height: 16px;
      background-color: #c4c4c4;
    }
  }

  .nav__input:checked ~ .nav__label::after {
    content: none;
  }
}
