.page-footer {
  background-color: $footer-bg;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-right: 19px;
  padding-bottom: 35px;
  padding-left: 15px;
}

.page-footer__base {
  flex-shrink: 3;
  width: 416px;
  min-width: 216px;

  .years-of-service {
    display: none;
  }
}

.page-footer__logo {
  width: 217px;
  margin-bottom: 54px;
}

.page-footer__social {
  width: 112px;
}

.page-footer__nav {
  flex-shrink: 5;
  width: 558px;
  margin: 0;
  padding: 0;
}

.page-footer__contacts {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-shrink: 2;
  width: 425px;
}

@media (max-width: $tablet-width) {
  .page-footer__wrapper {
    flex-wrap: wrap;
    padding-top: 19px;
    padding-right: 0;
    padding-bottom: 21px;
    padding-left: 0;
  }

  .page-footer__base {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-right: 24px;
    padding-bottom: 7px;
    padding-left: 25px;
    border-bottom: 1px solid rgba($color: #626962, $alpha: 0.2);

    .years-of-service {
      font-size: 13px;
      line-height: 24px;
      display: block;
      padding-top: 17px;
      padding-left: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      opacity: 0.5;
      color: $dark-grey;
    }
  }

  .page-footer__logo {
    margin-bottom: 0;
  }

  .page-footer__social {
    margin-top: 12px;
  }

  .page-footer__nav {
    width: 50%;
    min-width: 235px;
    padding-top: 38px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
  }

  .page-footer__contacts {
    align-items: flex-start;
    width: 50%;
    padding-top: 38px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    padding-top: 46px;
    padding-bottom: 0;

    .years-of-service {
      margin-bottom: 20px;
      padding: 0;
    }
  }

  .page-footer__base {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  .page-footer__logo {
    margin-bottom: 26px;
  }

  .page-footer__social {
    width: 112px;
    margin-bottom: 38px;
  }

  .page-footer__nav {
    width: 100%;
  }

  .page-footer__contacts {
    width: 100%;
    padding: 0;
  }
}
