.page-header {
  min-height: 878px;
  margin: 0  auto;
  background-color: $dark-grey;
  background-image:
    url("../img/bg-header-board-desktop.png"),
    url("data:image/svg+xml,%3Csvg fill='none' height='641' viewBox='0 0 671 641' width='671' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m626.842 159.584-274.675 475.75-274.6747-475.75z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m347.148 357.75-160.648 278.25-160.6477-278.25z' opacity='.2' stroke='%23fff'/%3E%3Cg fill='%23fff'%3E%3Ccircle cx='77' cy='159' r='5'/%3E%3Ccircle cx='26' cy='358' r='5'/%3E%3Ccircle cx='187' cy='636' r='5'/%3E%3Ccircle cx='352' cy='635' r='5'/%3E%3Ccircle cx='627' cy='159' r='5'/%3E%3C/g%3E%3C/svg%3E"),
    url("../img/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 438px) 258px, calc(50% + 412px) 118px, center top;
  background-size: auto, 671px 641px, cover;
}

.page-header__logo .logo__text-header {
  color: $white;
}

.page-header__menu {
  display: flex;
  justify-content: space-between;
  padding: 33px 12px 33px 23px;
}

.page-header__contacts-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__contacts-item {
  position: relative;
  margin-left: 49px;
}

.page-header__contacts-item--phone {
  position: relative;
  margin-left: 88px;
}

.page-header__contacts-item a {
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__contacts-item--mail a {
  padding-left: 39px;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 19px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 14' fill='none'%3E%3Cstyle%3E.a%7Bfill:%2300B2FF;%7D%3C/style%3E%3Cpath d='M16.7 0H2.3C1 0 0 1 0 2.2V11.8C0 13 1 14 2.3 14H16.7C18 14 19 13 19 11.8V2.3C19 1 18 0 16.7 0ZM17.9 11.8C17.9 12.4 17.4 13 16.7 13H2.3C1.6 13 1.1 12.4 1.1 11.8V2.3C1.1 1.6 1.6 1 2.3 1H16.7C17.4 1 17.9 1.6 17.9 2.3V11.8H17.9Z' class='a'/%3E%3Cpath d='M12 6.9L16.6 2.8C16.8 2.7 16.9 2.3 16.7 2.1 16.5 1.9 16.1 1.9 15.9 2.1L9.5 7.7 8.3 6.6C8.3 6.6 8.3 6.6 8.3 6.6 8.2 6.5 8.2 6.5 8.2 6.5L3.1 2.1C2.9 1.9 2.5 1.9 2.3 2.1 2.1 2.3 2.2 2.7 2.4 2.8L7.1 6.9 2.4 11.2C2.2 11.4 2.2 11.7 2.4 11.9 2.5 12 2.6 12.1 2.8 12.1 2.9 12.1 3 12 3.1 11.9L7.9 7.6 9.2 8.7C9.3 8.8 9.4 8.9 9.5 8.9 9.6 8.9 9.8 8.8 9.9 8.7L11.2 7.6 15.9 11.9C16 12 16.2 12.1 16.3 12.1 16.4 12.1 16.6 12 16.7 11.9 16.9 11.7 16.9 11.4 16.6 11.2L12 6.9Z' class='a'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.page-header__contacts-item--phone a {
  padding-left: 34px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14.233 11.15c-0.3691-0.3837-0.8142-0.5888-1.286-0.5888-0.4679 0-0.9169 0.2013-1.3011 0.585l-1.2023 1.1967c-0.0989-0.0531-0.1978-0.1025-0.2929-0.1519-0.137-0.0684-0.26633-0.133-0.37667-0.2014-1.1261-0.7142-2.1496-1.645-3.1311-2.8492-0.47557-0.60025-0.79515-1.1055-1.0272-1.6184 0.31197-0.28492 0.60112-0.58125 0.88265-0.86617 0.10653-0.10638 0.21306-0.21655 0.31959-0.32292 0.79895-0.7978 0.79895-1.8311 0-2.6289l-1.0386-1.0371c-0.11794-0.11777-0.23968-0.23934-0.35382-0.36091-0.22827-0.23554-0.46796-0.47867-0.71526-0.70662-0.36904-0.3647-0.81037-0.55845-1.2745-0.55845-0.46416 0-0.91309 0.19375-1.2936 0.55845-0.0038 0.0038-0.0038 0.0038-0.00761 0.0076l-1.2935 1.3031c-0.48698 0.48627-0.76472 1.0789-0.82559 1.7665-0.091309 1.1093 0.23588 2.1426 0.48698 2.8189 0.61634 1.6602 1.537 3.1988 2.9105 4.8475 1.6664 1.9869 3.6714 3.5559 5.9617 4.6614 0.87504 0.4141 2.043 0.9042 3.348 0.9878 0.0799 0.0038 0.1636 0.0076 0.2397 0.0076 0.8788 0 1.6169-0.3153 2.1952-0.9422 0.0038-0.0076 0.0114-0.0114 0.0152-0.019 0.1978-0.2393 0.4261-0.4559 0.6658-0.6876 0.1636-0.1558 0.331-0.3191 0.4946-0.4901 0.3766-0.3913 0.5745-0.8471 0.5745-1.3144 0-0.4711-0.2017-0.9232-0.5859-1.3031l-2.0887-2.0933zm1.362 4.0004c-0.0038 0-0.0038 0.0038 0 0-0.1484 0.1596-0.3006 0.3039-0.4642 0.4635-0.2473 0.2355-0.4984 0.4825-0.7342 0.7598-0.3843 0.4103-0.837 0.604-1.4305 0.604-0.0571 0-0.118 0-0.1751-0.0038-1.1299-0.0721-2.18-0.5128-2.9675-0.8889-2.1534-1.041-4.0442-2.5188-5.6155-4.3917-1.2974-1.5614-2.1648-3.005-2.7393-4.555-0.35382-0.94595-0.48317-1.683-0.42611-2.3782 0.03805-0.44448 0.20926-0.81299 0.52503-1.1283l1.2974-1.2955c0.18642-0.17476 0.38426-0.26974 0.57829-0.26974 0.23968 0 0.43372 0.14437 0.55546 0.26594 0.00381 0.0038 0.00761 0.00759 0.01142 0.01139 0.23207 0.21655 0.45274 0.44069 0.68482 0.68003 0.11794 0.12157 0.23968 0.24314 0.36143 0.3685l1.0386 1.0371c0.40328 0.40269 0.40328 0.775 0 1.1777-0.11033 0.11017-0.21686 0.22034-0.32719 0.32671-0.31958 0.32672-0.62395 0.63064-0.95494 0.92696-0.00761 0.0076-0.01522 0.0114-0.01903 0.019-0.32719 0.32672-0.26631 0.64583-0.19783 0.86238 0.0038 0.01139 0.00761 0.02279 0.01141 0.03419 0.27012 0.65343 0.65058 1.2689 1.2289 2.0021l0.00381 0.00379c1.05 1.2917 2.1572 2.2984 3.3784 3.0696 0.15599 0.0988 0.31578 0.1786 0.46796 0.2545 0.13696 0.0684 0.26632 0.133 0.37667 0.2014 0.0152 0.0076 0.0304 0.019 0.0456 0.0266 0.1294 0.0646 0.2511 0.095 0.3767 0.095 0.3158 0 0.5136-0.1976 0.5783-0.2622l1.3011-1.2992c0.1294-0.1292 0.3348-0.285 0.5745-0.285 0.2359 0 0.4299 0.1482 0.5479 0.2774l0.0076 0.0076 2.0963 2.0932c0.3919 0.3875 0.3919 0.7864 0.0038 1.1891z' fill='%2300B2FF'/%3E%3Cpath d='m9.7284 4.2817c0.99677 0.16716 1.9023 0.63823 2.6252 1.36 0.7228 0.72181 1.1908 1.626 1.362 2.6213 0.0419 0.25073 0.2587 0.42549 0.506 0.42549 0.0304 0 0.0571-0.0038 0.0875-0.0076 0.2816-0.04559 0.468-0.31152 0.4223-0.59265-0.2054-1.2043-0.7761-2.3022-1.6473-3.1722-0.8713-0.86998-1.9708-1.4398-3.1768-1.645-0.28154-0.04559-0.54405 0.14056-0.59351 0.41789s0.13316 0.54706 0.41469 0.59265z' fill='%2300B2FF'/%3E%3Cpath d='m17.992 7.9402c-0.3386-1.9831-1.2745-3.7876-2.7126-5.2237s-3.2453-2.3706-5.2313-2.7087c-0.27769-0.049387-0.54021 0.14056-0.58967 0.41789-0.04565 0.28113 0.14077 0.54326 0.42231 0.59265 1.773 0.30012 3.3899 1.1397 4.6758 2.42 1.286 1.2841 2.123 2.8986 2.4235 4.669 0.0419 0.25074 0.2587 0.42549 0.506 0.42549 0.0305 0 0.0571-0.0038 0.0875-0.0076 0.2778-0.04179 0.468-0.30772 0.4185-0.58505z' fill='%2300B2FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }
}

.page-header__contacts-item--call a {
  width: 180px;
  padding: 12px 0 13px 0;
  letter-spacing: 0.7px;
  border-color: $white;
}

@media (max-width: $tablet-width) {
  .page-header {
    min-height: 686px;
    background-image:
      url("../img/bg-header-board-tablet.png"),
      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 529 441' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m494.16 60.956-216.43 374.87-216.43-374.87 432.86-1e-4z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m273.58 217.23-126.51 219.12-126.51-219.12h253.01z' opacity='.2' stroke='%23fff'/%3E%3Ccircle cx='60.724' cy='60.39' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='20.504' cy='217.32' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='147.47' cy='436.56' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='277.59' cy='435.77' r='3.9431' fill='%23fff'/%3E%3Ccircle cx='494.46' cy='60.39' r='3.9431' fill='%23fff'/%3E%3C/svg%3E%0A"),
      url("../img/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: calc(30% + 418px) 113px, calc(30% + 368px) 26px, center top;
    background-size: auto, 529px 441px, cover;
  }

  .page-header__menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 20px 25px;
  }

  .page-header__contacts-list {
    justify-content: flex-end;
  }

  .page-header__contacts-item {
    font-size: 0;
    margin-left: 33px;
    margin-bottom: 2px;
  }

  .page-header__contacts-item--mail a {
    padding-left: 0;
    display: block;
    width: 26px;
    height: 19px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25.33px;
      height: 18.67px;
    }
  }

  .page-header__contacts-item--phone a {
    padding-left: 0;
    display: block;
    width: 24px;
    height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
    }
  }

  .page-header__contacts-item--call {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    min-height: 647px;
    background-image:
      url("../img/bg-header-board-mobile.png"),
      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 506 430' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m472.04 67.352-206.72 358.06-206.72-358.06h413.45z' opacity='.2' stroke='%23fff'/%3E%3Cpath d='m261.32 216.65-120.82 209.26-120.82-209.26h241.63z' opacity='.2' stroke='%23fff'/%3E%3Ccircle cx='58.011' cy='66.789' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='19.589' cy='216.71' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='140.88' cy='426.16' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='265.19' cy='425.4' r='3.7669' fill='%23fff'/%3E%3Ccircle cx='472.37' cy='66.789' r='3.7669' fill='%23fff'/%3E%3C/svg%3E%0A"),
      url("../img/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: calc(90% + 9px) 92px, calc(55% + 254px) 7px, center top;
    background-size: auto, 506px 430px, cover;
  }

  .page-header__menu {
    display: flex;
    justify-content: space-between;
    padding: 17px 15px 17px 17px;
  }

  .page-header__logo {
    width: 38px;
    height: 38px;
  }

  .page-header__contacts-item {
    margin-left: 23px;
  }
}
