.products {
  background-color: $dark-grey;
}

.products__wrapper {
  padding-top: 89px;
  padding-right: 138px;
  padding-bottom: 97px;
  padding-left: 139px;
}

.products__header {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  margin-bottom: 52px;
  color: $white;
}

.products__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  width: 31.6%;
  min-height: 620px;
  margin-bottom: 30px;
}

.products__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-right: 43px;
  padding-bottom: 50px;
  padding-left: 43px;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: $light-grey;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  &--production::before {
    background-image: url("../img/bg-products-production-desktop.jpg");
  }

  &--installation::before {
    background-image: url("../img/bg-products-installation-desktop.jpg");
  }

  &--accessories::before {
    background-image: url("../img/bg-products-accessories-desktop.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;
    background-color: $baby-blue;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='9' viewBox='0 0 6 9' width='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 8.5 4-4-4-4' stroke='%23fff' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 31px 27px;
    background-size: auto;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.3;
  }

  &:active::before {
    opacity: 0.1;
  }
}

.products__link-text {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  width: 160px;
  margin: 0;
  opacity: 0.99;
}

@media (max-width: $tablet-width) {
  .products__wrapper {
    padding-top: 50px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 25px;
  }

  .products__header {
    font-size: 32px;
    line-height: 45px;
    max-width: 620px;
    margin-bottom: 49px;
  }

  .products__list {
    flex-direction: column;
  }

  .products__item {
    width: 100%;
    min-height: 256px;
    margin-bottom: 46px;
  }

  .products__link {
    min-height: 256px;
    padding-top: 40px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-left: 45px;

    &--production::before {
      background-image: url("../img/bg-products-production-tablet.jpg");
    }

    &--installation::before {
      background-image: url("../img/bg-products-installation-tablet.jpg");
    }

    &--accessories::before {
      background-image: url("../img/bg-products-accessories-tablet.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .products__wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 34px;
    padding-left: 15px;
  }

  .products__header {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 42px;
    margin-left: 10px;
  }

  .products__item {
    margin-bottom: 30px;
  }

  .products__link {
    padding-top: 20px;
    padding-right: 35px;
    padding-bottom: 20px;
    padding-left: 35px;

    &::after {
      background-position: 28px 27px;
    }

    &--production::before {
      background-image: url("../img/bg-products-production-mobile.jpg");
    }

    &--installation::before {
      background-image: url("../img/bg-products-installation-mobile.jpg");
    }

    &--accessories::before {
      background-image: url("../img/bg-products-accessories-mobile.jpg");
    }
  }
}
