.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.social__item {
  width: 27px;
  height: 27px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 50%;

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.social__link {
  font-size: 0;
  position: relative;
  display: block;
  width: 27px;
  height: 27px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  outline: none;

  &:active {
    opacity: 0.7;
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
  }

  &--facebook::after {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='27' viewBox='0 0 27 27' width='27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='m27 13.5c0-7.45538-6.0438-13.5-13.5-13.5-7.45621 0-13.5 6.04462-13.5 13.5 0 7.4562 6.04369 13.5 13.5 13.5 7.4562 0 13.5-6.0437 13.5-13.5zm-10.1164-4.20605h-1.7399c-.4683 0-.7973.39658-.7973.89105v.7754h2.4848l-.4024 2.5168h-2.0833v6.7466h-2.543v-6.7466h-1.6875v-2.5168h1.6875v-1.2834h.005c.0448-1.46308.5527-2.85608 3.0308-2.94385v-.00927h2.0453z' fill='%23cdcdcd' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &--odnoklassniki::after {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='27' viewBox='0 0 27 26' width='27' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cdcdcd'%3E%3Cpath d='m13.8512 10.957c1.0156 0 1.8056-.8357 1.7868-1.7457.0188-.91-.7523-1.76428-1.768-1.76428-.978 0-1.7867.78-1.7867 1.74571 0 .96567.7899 1.76427 1.7679 1.76427z'/%3E%3Cpath d='m13.701 0c-7.25987 0-13.1656 5.8314-13.1656 12.9999 0 7.1871 5.90573 13 13.1656 13 7.2787 0 13.1657-5.8314 13.1657-13 .0188-7.1685-5.887-12.9999-13.1657-12.9999zm.1881 4.9214c2.3698 0 4.3259 1.93142 4.3071 4.28998 0 2.37712-1.9749 4.29002-4.3823 4.25282-2.3698-.0371-4.26945-1.95-4.26945-4.27139 0-2.35856 1.93725-4.27141 4.34465-4.27141zm4.8337 10.0285c0 .0372-.0188.0557-.0188.0929-.0565.3714-.2445.6686-.5643.8728-.2069.13-.4326.26-.6583.3715-.5642.2785-1.1661.5014-1.7867.65-.0752.0185-.0752.0185-.0188.0742.3385.3343.6959.6872 1.0344 1.0215.4326.4271.884.8728 1.3166 1.3.6206.6128.4514 1.6342-.3386 2.0057-.1316.0743-.2821.0928-.4325.13-.0753 0-.1693 0-.2446 0-.0188 0-.0376 0-.0376-.0186-.3009-.0371-.5454-.1857-.7711-.39-.7523-.7429-1.5235-1.5043-2.2758-2.2471-.0564-.0557-.0564-.0557-.1128 0-.7712.7614-1.5235 1.5042-2.2946 2.2657-.1317.13-.2633.2228-.4326.2971-.1128.0557-.2445.0743-.3573.0929-.0753 0-.1505 0-.2445 0-.0377 0-.0565-.0186-.0941-.0186-.5078-.0929-.84635-.3714-.99681-.8543-.15047-.4828-.03762-.91.31974-1.2628.31977-.3158.62067-.6129.94037-.9286.4702-.4643.9404-.9286 1.3918-1.3743.0564-.0557.0564-.0557-.0188-.0743-.0188 0-.0564-.0185-.0752-.0185-.8464-.2043-1.6175-.5386-2.35102-.9843-.43259-.2786-.63948-.6872-.58305-1.1886.09404-.9286 1.14727-1.43 1.93727-.9286.1504.0929.2821.1672.4513.2415.8652.4271 1.7868.6128 2.746.5571.4702-.0186.9404-.1114 1.4106-.26.4514-.1486.8464-.3528 1.2602-.5757.6771-.39 1.561-.0743 1.8243.65.0377.1114.0565.2043.0753.3157z'/%3E%3C/g%3E%3C/svg%3E");
  }

  &--vkontakte::after {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='27' viewBox='0 0 27 26' width='27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19.475 15.1271c-1.1088-1.0242-1.188-1.0242-.2376-2.206 1.188-1.4968 2.7721-3.38761 1.3464-3.38761h-2.6137c-.4752 0-.5544.31513-.7128.70901-.6336 1.4969-1.9008 3.4665-2.3761 3.1513-.4752-.3151-.2376-1.4968-.2376-3.3876.0792-.23636 0-.47271-.1584-.63028-.1584-.15756-.396-.31513-.6336-.31513-.396-.07878-.792-.15756-1.188-.15756-1.5049 0-2.5345.63026-1.9801.70904 1.0296.15757.9504 2.36353.7128 3.30883-.396 1.6545-1.98006-1.2605-2.69288-2.7573-.07921-.39396-.39602-.63031-.79203-.63031h-2.05927c-.31681 0-.55442.07878-.55442.31513 0 .39388 1.98007 4.25428 3.80173 6.22388 1.82167 1.8907 3.64337 1.7332 4.91057 1.7332.1584 0 .3168-.0788.396-.1576s.1584-.2363.1584-.3939c0-1.2605.4752-1.8908 1.3465-1.0242.9504.9454 1.188 1.5757 2.3761 1.5757h2.1384c.5545 0 .7129-.1576.7129-.3939.0792-.5515-.8713-1.5757-1.6633-2.2847zm-5.6234-15.12631084c7.3659.15756484 13.2269 6.06626084 13.1477 13.23551084-.0792 7.1692-6.1779 12.8415-13.5437 12.7628-7.44508-.0788-13.3852875-5.83-13.3852875-12.9992.0792025-7.24798 6.2570175-13.0778935 13.7812875-12.99911084z' fill='%23cdcdcd'/%3E%3C/svg%3E");
  }

  &--facebook:hover,
  &--facebook:focus {
    background-color: #3b5998;
  }

  &--odnoklassniki:hover,
  &--odnoklassniki:focus {
    background-color: #ed812b;
  }

  &--vkontakte:hover,
  &--vkontakte:focus {
    background-color: #45668e;
  }
}
