// Основные цвета

$light-grey: #788891;
$grey: #666666;
$dark-grey: #1b2d37;
$logo-grey: #203c42;
$baby-blue: #00b2ff;
$border-color: #ebebeb;
$white: #ffffff;
$black: #000000;

// Размеры @media

$mobile-width: 767px;
$tablet-width: 1023px;

// Ретинизация

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
